@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.logo-upper {
    margin-left: 2%;
    font-size: 30px;
    font-family: 'Varela Round';
}

h1 {
    margin-left: 45.5%;
    font-family: 'Varela Round';
    font-style: italic;
}

body {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}


form input {
    margin-left: 43%;
    border-radius: 0px;
    height: 18px;
    width: 250px;
    border-width: 3px;
}

a {
    margin-left: 46%;
    font-size: 14px;
    color: white;
    transition: color 0.5s;
}

a:hover {
    color: chartreuse;
}

.button-submit {
    margin-left: 47.3%;
    height: 40px;
    width: 90px;
    border-radius: 15px;
    background-color: blue;
    color: white;
    transition: color 0.5s, background-color 0.8s;
    cursor: pointer;
}

.button-submit:hover {
    background-color: chartreuse;
    color: black;
}

